@model IEnumerable<WebApplication2.Models.Concerts>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


    <div class="slider">
        <img src="~/Content/slider.jpg">
    </div>
    <div class="content">
        <div class="container">

        </div>
    </div>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
               <td class="table">
                   @Html.DisplayFor(modelItem => item.Name)
               </td>
                <td class="table">
                    @Html.DisplayFor(modelItem => item.Location)
                </td class="table">
                <td>
                    <image src=@Html.DisplayFor(modelItem => item.Image)></image>
                </td>
           </tr>

        }
    </table>
    <div class="footer">
        <div class="container">
            <span>Copyright 2019</span>
        </div>
    </div>

</body>

</html>