@model IEnumerable<WebApplication2.Models.Concerts>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/style.css")
</head>

<body>


    <div class="slider">
        <img src="~/Content/slider.jpg">
    </div>
    <div class="content">
        <div class="container">
            <table>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <label>Denumire: </label>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <label>Locatie: </label>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Pret: </label>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <image class="img" src=@Html.DisplayFor(modelItem => item.Image)></image>
                        </td>
                    </tr>
                    

                }
            </table>
        </div>
    </div>
    
    <!--<div class="footer">
        <div class="container">
            <span>Copyright 2019</span>
        </div>
    </div-->

</body>

</html>