@model WebApplication2.Models.Users


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <!---->
    @using (Html.BeginForm("Authorize", "Home", FormMethod.Post))
    {
        <div class="login">
            <label>User:</label>
            <br>
            <input type="text">
            <br><br>
            <label>Password:</label>
            <br>
            <input type="password">
            <br><br>
            <input type="submit" class="login_button">
            <br>
            <label>@Html.DisplayFor(model => model.LogInErrorMessage)</label>
        </div>
    }


</body>
</html>