<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   @using (Html.BeginForm("NewUser", "Home", FormMethod.Post)) { 
        <label>User:</label>
        <br>
        <input type="text">
        <br><br>
        <label>Email:</label>
        <br>
        <input type="text">
        <br><br>
        <label>Password:</label>
        <br>
        <input type="password">
        <br><br>
        <button class = "register_button">Register</button>
        <div>
            <label>@ViewBag.SuccessMessage</label>
        </div>
    }
    
</body>
</html>